{
  "presets": [
    "babel-preset-react",
    "babel-preset-es2015",
    "babel-preset-stage-0"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "presets": [
        "babel-preset-power-assert"
      ]
    }
  }
}
